*/build/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv
thesis/_Overview/report.synctex.gz
*.fls
unity_project/.vs/unity_project/v16/.suo
unity_project/.vs/unity_project/v16/Browse.VC.db
*.toc
